<p id="notice"><%= notice %></p>

<h1>Listing Shoe Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoe_categories.each do |shoe_category| %>
      <tr>
        <td><%= shoe_category.name %></td>
        <td><%= shoe_category.description %></td>
        <td><%= link_to 'Show', shoe_category %></td>
        <td><%= link_to 'Edit', edit_shoe_category_path(shoe_category) %></td>
        <td><%= link_to 'Destroy', shoe_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shoe category', new_shoe_category_path %>
